@model OCC.UI.Webhost.Models.Session

@{
    ViewBag.Title = "Session";
}

<h3>@ViewData.Model.Name</h3>

<div class="field-name">Speaker</div>
<div class="field-value">@ViewData.Model.Speaker</div>

<div class="field-name">Description</div>
<div class="field-value">@ViewData.Model.Description</div>