<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <connectionStrings>

        <add name="OCC2012" providerName="System.Data.SqlClient" 
            connectionString="DataSource=.\sqlexpress;Initial Catalog=OCC2012; Integrated Security=SSPI;"/>
    
    </connectionStrings>

</configuration>