@model OCC.UI.Webhost.Models.HomeModel

@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

<div class="column">

@foreach (var announcement in ViewData.Model.Announcements)
{
    <div class="announcement">
        <div class="announcement-title"><h3>@announcement.Title</h3></div>
        <div class="announcement-subtitle"><i>@announcement.Subtitle</i></div>
        <div class="announcement-contents">@announcement.Content</div>
    </div>
}

</div>