@using OCC.UI.Webhost.Models;

@model List<Announcement>

@{
    ViewBag.Title = "Home Page";
}

<div>

@foreach (var announcement in ViewData.Model)
{
    <div>
        <div><h3>@announcement.Title</h3></div>
        <div><i>@announcement.Subtitle</i></div>
        <div>@announcement.Content</div>
    </div>
}

</div>