.title
{
    font-family: Tahoma;
    font-size: 16px;
}

.subtitle
{
    font-family: Tahoma;
    font-size: 8px;
    font-style: italic;
    padding-left: 50;
}

.field-name
{
    font-family: Tahoma;
    font-size: 10px;
    color: Gray;
}

.field-value
{
    font-family: Tahoma;
    font-size: 12px;
}

a.field-name, a.field-name:visited, a.field-name:active
{
    text-decoration: none;
}

a.field-name:hover
{
    text-decoration: underline;
}